---
---
@charset "utf-8";

// Demo site layout and styles
body{
	font-family: 'Roboto', sans-serif;
	color: #000;
	& > div{
		width: 100%;
		max-width: 1200px;
		margin: 0px auto;
	}
}
h1{
	font-size: 3rem;
	margin: 1.4rem 0 0.8rem 0;
}
p{
	float: left;
	margin: 0.5rem 0 0.5rem 0;
	clear: both;
	width: 100%;
	&:last-of-type{
		margin-bottom: 3.5rem;
	}
}
a.demo{
	color: #0076E3;
	text-decoration: none;
	&:hover{
		color: #82D4FF;
	}
}

// Flickrgal
@import 'flickrgal';